Carousel {
    margin-top: '20px';
}

.button{
    position: fixed; 
   /* width: 100%; */
   left: 90%;
   bottom: 20px;
   height: 45px;
   font-size: 3rem;
   z-index: 1;
   cursor: pointer;
   color: rgb(46, 208, 236);
   background: none;
}