

  @media screen and (min-width: 601px) {
    .centered {
        
        max-width: 90%;
        
        width: 90%;
        
        background-color: black;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        opacity: 0.7;
        box-shadow: 10px 10px 5px;
      }

      strong{
        color: rgb(81, 136, 240);
      }
      
      .codingPanel{
        max-width: 60%;
        margin-top: 3%;
        background-color: rgb(218, 93, 134);
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
        opacity: 0.7;
        
      }

      .contentHeader{
        color: rgb(241, 26, 80);;
        font-size: 25px;
        font-weight: bold;
      }

      .contentBody{
        color: white;
        font-size: 20px;
    }
    li{
      color: white;
      font-size: 20px;
      /* font-weight: bold; */
    }

    .editor{
        font-family: '"Fira code", "Fira Mono", monospace';
        font-size: 18px;
        background-color: "#aafae0";
        width:60% !important;
        color: "black";
        opacity: 0.5;
    }
  }

  @media screen and (max-width: 600px) {
    .centered {
        
        max-width: 90%;
        
        background-color: black;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
        opacity: 0.7;
        box-shadow: 10px 10px 5px;
      }
      strong{
        color: rgb(81, 136, 240);
      }

      .codingPanel{
        max-width: 60%;
        margin-top: 2%;
        background-color: rgb(218, 93, 134);
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
        opacity: 0.7;
        
      }

      .contentHeader{
        color: rgb(241, 26, 80);
        font-size: 20px;
        font-weight: bold;
    }

    .contentBody{
        color: white;
        font-size: 16px;
    }

    li{
      color: white;
      font-size: 16px;
      /* font-weight: bold; */
    }

    .editor{
        font-family: '"Fira code", "Fira Mono", monospace';
        font-size: 14px;
        background-color: "#aafae0";
        /* width:60%; */
        color: "black";
        opacity: 0.5;
    }
  }